.mainClassWork{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: #333;
    color: white;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-image: url('https://wallpapercave.com/wp/wp3332365.jpg');
    background-size: cover;
    background-position: center; 
}
.classText{
    position: absolute;
    bottom: 0;
    right: 30;
    color: white;
    font-weight: 900;
    z-index: 5;
}
.meetLinkPaste{
    border:0px;
    border-bottom: 1px solid green;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 16px;
    width: 100%;
}

.meetLinkPaste:focus, textarea:focus, select:focus{
    outline: none;
}